.chat-main
  .main-header
    %ul.main-header__box
      %li.main-header__box__name
        = @group.name
      %li.main-header__box__member
        Member : 
        - @group.users.each do |user|
          = user.name
    .main-header__edit-btn
      =link_to edit_group_path(@group.id) do
        %p.edit-btn Edit

  .message-list
    = render @messages

  .message-form
    -# %form.new_message
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"
